.container {
  padding: 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
 }

 .starchart {
  height: 90%;
  transition: 0.1s, transform 0.1s;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(0%, -50%);
 }

 .imgStartchart {
  height: 100%;
  transition: opacity .15s ease-in-out;
  position: absolute;
 }

 .overlay {
  position: relative;
  bottom: 0;
  height: 100%;
  opacity:1;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}

.options {
  font-size: "2vh",
}