.container {
  padding: 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
 }

 .starchart {
  height: 100%;
  transition: 0.1s, transform 0.1s;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%)
 }

 .overlay {
  position: absolute;
  bottom: 0;
  height: 100%;
  opacity:1;
}

.wrapper {
  display: flex;
  height: 100%;
  width: 100%;
}